*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    width: calc(100% - 75px); 
    height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
    background-color: #fff; 
    border-bottom: 1px solid #ddd; 
}

body{
    min-height: 100%;
    background: #fff;
    margin-left: 80px;
    margin-top: 80px;
}

.navg{
    border-left: 5px solid blue;
    box-sizing: initial;
    overflow: hidden;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: blue;
    width: 75px;
    border-radius: 10px;
    z-index: 150;
}

.navg::-webkit-scrollbar{
    display: none;
}

.navg{
    scrollbar-width: none;
}

.navg ul{
    padding-top: 40px;
    padding-left: 5px;
}

.navg ul li{
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px
}

.navg ul li.active{
    background-color: #fff;
}

.navg ul li a{
    width: 100%;
    position: relative;
    display: block;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.navg ul li.active a{
    color: black;
}

.navg ul li a .icon{
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navg ul li a .title{
    padding-left: 10px;
    white-space: nowrap;
    font-size: 1.05rem; 
    line-height: 3.5; 
    word-wrap: break-word; 
    margin: 0; 

}

body header .icon_menu i{
    cursor: pointer;
}

.icon_menu{
    position: fixed;
    font-size: 20px;
    width: 250px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 65px;
    justify-content: left;
    padding: 20px;
    align-items: center;
    background: #fff;
    margin-top: -10px;
}

.navg ul li a .icon i{
    font-size: 1.5rem;
}

.body_move{
    margin-left: 265px;
}

.navg_side_move{
    width: 260px;
}

header .logo .imglogo img{
    height: 60px;
    position: relative;
    z-index: 100;
    margin-left: 56px;
}

.mine{
    margin: 0;
    box-sizing: border-box;
    outline: none; 
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    padding: 20px;
    transition: padding 0.3s ease; 
}

.contenedor_oftal{
    padding: 10px 20px;
    padding-bottom: 100px;
}

.contenedor_oftal .contenedor_box{
    display: grid;
    justify-content: center;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
}

.contenedor_oftal .contenedor_box .box{
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    text-align: center;
    padding: 10px 17px;
    background-color: gainsboro;
}

.contenedor_oftal .contenedor_box .box i{
    font-size: 35px;
}

.contenedor_oftal .contenedor_box .box h3{
    font-size: 20px;
    padding: 10px 0;
}

.principal{
    margin: 0;
    padding: 0;
}

.contenedor_body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin-top: -20px;
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.container .card{
    position: relative;
    width: 290px;
    height: 210px;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease-in-out;
}

.container .card:hover{
    height: 20rem;
}

.container .card img{
    position: relative;
    width: 100%;
    height: 260px;
    margin-top: -120px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
    height: 260px;
    z-index: 1;
}

.container .card .img img{
    max-width: 100%;
    border-radius: 4px;
}

.container .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .card .content h2{
    font-size: 1.1rem;
}

.container .card .content p{
    font-size: 0.9rem;
    color: blue;
}

.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: 1rem;
    transition-delay: 0.1s;
}

.btn_card{
    display: flex;
    background-color: blue;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 10px;
    width: 4rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 1116px){
    .container{
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 40px;
        margin-left: -1rem;
        margin-top: -5rem;
    }
    .container .card .content{
        position: relative;
        margin-top: -15rem;
        padding: 10px 15px;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease-in-out;
    }
    .container .card{
        margin-top: 6rem;
        width: 250px;
        height: 200px;
    }
    .container .card:hover{
        height: 21rem;
    }
    .container .card .img{
        width: 230px;
        height: 230px;
        margin-left: -0.3rem;
    }
}
